.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 25vh;
  border-radius: 5px;

  padding: 10px;
  align-items: center;
  justify-self: center;
  margin-top: 12%;
  background-color: white;
}
.heading-add {
  font-size: 20px;
}
.top-add {
  width: 100%;
  text-align: center;
}
.input-add {
  width: 90%;
  height: 25px;
  border: 2px solid #6c63ff;
  border-radius: 5px;
  padding-left: 5px;
}
.bottom-add {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-cancel {
  padding: 5px;
  color: #6c63ff;
  background-color: white;
  border: 1px solid #6c63ff;
  border-radius: 5px;
}
.btn-apply {
  padding: 7px;
  color: white;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 5px;
}
body.dark .add {
  border: 1px solid white;
  background-color: #252525;
}
body.dark .input-add {
  background-color: #252525b2;
  color: white;
  border:1px solid white;
}
body.dark .btn-cancel {
  background-color: #252525b2;
}
body.dark .modal-overlay {
  position: fixed;
  inset: 0;
  background-color: #252525b2;
}
